Protocol 2

Port <%= node['ssh']['port'] %>

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
UsePrivilegeSeparation yes

Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes128-ctr
MACs umac-128-etm@openssh.com,umac-64-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120
PermitRootLogin <%= node['ssh']['permitroot'] %>
StrictModes yes

PubkeyAuthentication yes
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes

PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding <%= node['ssh']['x11forwarding'] %>
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UseLogin no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

